##
## /META-INF/powerup/thirdcoast.toml
##
## Third Coast Library configuration
##

[THIRDCOAST.SWERVE]
  length = 20.625
  width  = 26.125

[[TALON]]
  name = "azimuth"
  talonIds = [0, 1, 2, 3]
  [TALON.selectedFeedbackSensor]
    feedbackDevice = "CTRE_MagEncoder_Relative"
  [TALON.currentLimit]
    continuous = 10
    peak = 0
    peakDuration = 0
  [TALON.motionMagic]
    acceleration = 10_000
    cruiseVelocity = 800
  [[TALON.closedLoopProfile]] # slot 0 MotionMagic, normal
    pGain = 10.0
    iGain = 0.0
    dGain = 100.0
    fGain = 1.0
    iZone = 0
    allowableClosedLoopError = 0
  [[TALON.closedLoopProfile]] # slot 1 MotionMagic, hot
    pGain = 15.0
    iGain = 0.0
    dGain = 150.0
    fGain = 1.0
    iZone = 0
    allowableClosedLoopError = 0
  [[TALON.closedLoopProfile]] # slot 2 MotionMagic, slow
    pGain = 2.5
    iGain = 0.0
    dGain = 25.0
    fGain = 1.0
    iZone = 0
    allowableClosedLoopError = 0

[[TALON]]
 name = "drive"
 talonIds = [10, 11, 12, 13]
 [TALON.selectedFeedbackSensor]
   feedbackDevice = "CTRE_MagEncoder_Relative"
 [TALON.output]
   neutralMode = "Brake"
 [TALON.currentLimit]
   continuous = 40
   peak = 0
   peakDuration = 0
 [[TALON.closedLoopProfile]] # slot 0 Velocity
   pGain = 0.1
   iGain = 0.0
   dGain = 1.0
   fGain = 0.03
   iZone = 0
   allowableClosedLoopError = 0
 [[TALON.closedLoopProfile]] # slot 0 Velocity
   pGain = 0.1
   iGain = 0.0
   dGain = 1.0
   fGain = 0.03
   iZone = 0
   allowableClosedLoopError = 0
 [[TALON.closedLoopProfile]] # slot 0 Velocity
   pGain = 0.1
   iGain = 0.0
   dGain = 1.0
   fGain = 0.03
   iZone = 0
   allowableClosedLoopError = 0

# [[TALON]]
#  name = "climber"
#  talonIds = [20, 21]
#  [TALON.selectedFeedbackSensor]
#    feedbackDevice = "CTRE_MagEncoder_Relative"
#  [TALON.output]
#    neutralMode = "Brake"

[[TALON]]
  name = "intake"
  talonIds = [30, 31]
  [TALON.selectedFeedbackSensor]
    feedbackDevice = "CTRE_MagEncoder_Relative"
  [TALON.output]
    neutralMode = "Brake"
  [TALON.currentLimit]
    continuous = 10
    peak = 0
    peakDuration = 0

[[TALON]]
  name = "lift-master"
  talonIds = [50]
  [TALON.selectedFeedbackSensor]
    feedbackDevice = "CTRE_MagEncoder_Relative"
    phaseSensor = true
  [TALON.output]
    neutralMode = "Brake"
  [TALON.currentLimit]
    continuous = 40
    peak = 0
    peakDuration = 0
  [TALON.softLimit.forward]
    limit = 18500
    enabled = true
  [TALON.softLimit.reverse]
    limit = 100
    enabled = true
  [TALON.motionMagic] # down
    acceleration = 2500  # 10000 up
    cruiseVelocity = 750 # 1500
  [[TALON.closedLoopProfile]] # slot 0 MotionMagic
    pGain = 1.0
    iGain = 0.0
    dGain = 75.0
    fGain = 0.4
    iZone = 0
    allowableClosedLoopError = 0

[[TALON]]
  name = "lift-slave"
  talonIds = [51]
  [TALON.currentLimit]
    continuous = 40
    peak = 0
    peakDuration = 0

[[TALON]]
  name = "shoulder"
  talonIds = [40]
  [TALON.selectedFeedbackSensor]
    feedbackDevice = "CTRE_MagEncoder_Relative"
  [TALON.output]
    neutralMode = "Brake"
  [TALON.softLimit.forward]
    limit = 0
    enabled = false
  [TALON.softLimit.reverse]
    limit = -300
    enabled = true
  [TALON.limitSwitch.forward]
    source = "FeedbackConnector"
    normal = "NormallyOpen"
  [TALON.currentLimit]
    continuous = 10
    peak = 0
    peakDuration = 0
  [TALON.motionMagic]
    acceleration = 5000
    cruiseVelocity = 1000
  [[TALON.closedLoopProfile]] # slot 0 MotionMagic
    pGain = 1.0
    iGain = 0.0
    dGain = 50.0
    fGain = 1.1
    iZone = 0
    allowableClosedLoopError = 0

#[[TALON]]
#  name = "flipper"
#  talonIds = [60]
#  [TALON.selectedFeedbackSensor]
#    feedbackDevice = "CTRE_MagEncoder_Relative"
#  [TALON.output]
#    neutralMode = "Brake"
#  [TALON.softLimit.forward]
#    limit = 1400
#    enabled = true
#  [TALON.softLimit.reverse]
#    limit = 100
#    enabled = true
